body {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Titan One', cursive;
    margin: 0px;
}

h1 {
    font-size: 60px;
    color: lightslategray;
}

h2 {
    font-size: 30px;
    color: brown;
}

.meroon-color {
    color: rgb(193, 71, 71)
}

section {
    display: flex;
    margin: 50px;
}

.half-width {
    color: rgba(61, 10, 10, 0.637);
    width: 500px;
    padding-left: 5%;
    padding-top: 50px;
}

.half-width image {
    padding-top: 10px;
    width: 400px;
}

.link-button {
    text-decoration: none;
    background-color: rgba(173, 117, 117, 0.721);
    padding: 5px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/imagel.png);
}

.dream-big {
    background-image: url(images/imagel.png);
}